.intro_image-div {
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.description-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding-left: 3vw;
}

.description-div > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    font-size: 1vw !important;

}

.description_category {
    font-family: 'Hahmlet', serif !important;
    letter-spacing: 3vw !important;
    color: #464646;
    font-size: 5vw !important;
    font-weight: bold !important;
    margin: 3vh auto;
}

.description {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1vw;
}
/* 
.address_date-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */

.description_date {
    font-family: Noto Sans KR;
    /* font-weight: bold; */
    margin : 1vh;
    font-size: 1vw;
    /* margin-left: auto; */
}

.more-button{
    margin: 0 auto !important;
    color: #737171 !important;
    margin-top: 3vh !important;
    text-decoration: none !important;
}