.video-responsive-desktop, .video-responsive-mobile {
    overflow: hidden;
    /* padding-bottom: 56.25%; */
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.video-responsive-desktop iframe {
    min-height: 50vh;
}

.video-responsive-mobile iframe {
    min-height: 30vh;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% 
}


.react-player {
    position: absolute;
    top: 0;
    left: 0;
}