#detail-div {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#detail_description {
    display: flex;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 0.3vw;
}

#detail_description > div {
    width: 100%;
    margin: auto 0;
    font-size: 1vh;
}

#detail_description > img {
    object-fit: cover;
}

#description-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#description-slide > p {
    letter-spacing: 1vw;
    margin-top: 0;
    font-size: 2vw;
    font-family: 'Do Hyeon', sans-serif;
}

#detail_category {
    font-family: 'Hahmlet', serif !important;
    letter-spacing: 3vw !important;
    color: #464646;
    font-size: 5vw !important;
    font-weight: bold !important
}

/* #swiper-mobile > .swiper-container {
    height:30vh;
} */

#description_title-motion {
    width: 100% !important;
    text-align: left !important;
}

#description_title-motion > p {
    font-family: 'Hahmlet', serif !important;
    letter-spacing: 1vw !important;
    color: #464646;
    font-size: 3vw;
    font-weight: bold !important;
}

#swiper-navigation-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MuiIconButton-root {
    color: black !important;
}