.swiper-container {
    width: 50%;
    height: 100%;
}

.detail_description-desktop {
    display: flex;
}

.swiper-desktop {
    width: 50%;
}

.detail_division {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}