#detail-div-desktop {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#swiper-container {
    width: 100%;
    height: 100%;
}

#detail_description-desktop {
    display: flex;
    height: 30vh;
}

#detail_description-desktop > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3vw;
}

#detail_description-desktop p {
    letter-spacing: 0.5vw;
    margin-top: 0;
    font-size: 0.5vh;
    font-family: 'Do Hyeon', sans-serif;
}

#swiper-desktop {
    width: 80%;
    margin: 0 auto;
}

#detail_division {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#detail_division>div {
    width: 100%;
}

#lands_detail {
    height: 100%;
}

#video_detail {
    width: 80%;
}

#detail_swiper {
    height: 50vh;
}

#description_address {
    padding-bottom: 3vh;
}