#detail-div-desktop {
    width: 60vw !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#detail_description-desktop {
    display: flex;
    font-family: 'Noto Serif KR', sans-serif;
    letter-spacing: 0.3vw;
}

#detail_description-desktop > div {
    width: 100%;
    margin: auto 0;
    font-size: 1vh;
}

#detail_description-desktop p {
    letter-spacing: 0.2vw;
    margin-top: 0;
    font-size: 1vw;
    font-family: 'Noto Serif KR', sans-serif;
}

#swiper-desktop {
    width: 80%;
    margin: 0 auto;
}

#detail_division {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#detail_division > div {
    width: 100%;
}

#lands-and-video-div {
    display: flex;
    flex-direction: column;
}

#description_address {
    padding-bottom: 3vh;
}

#description-slide-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#description-slide-desktop > p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1.5vw !important;
}

#swiper-navigation-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#description_address-desktop {
    font-size: 1.5vw !important;
}

#detail_category-desktop {
    font-family: 'Hahmlet', serif !important;
    letter-spacing: 3vw !important;
    color: #464646;
    font-size: 3vw !important;
    font-weight: bold !important
}

#description_title-motion-desktop {
    font-family: 'Hahmlet', serif !important;
    letter-spacing: 0.2vw !important;
    color: #464646;
    font-size: 2vw !important;
    text-align: left;
    padding-top: 3vh;
    text-align: center;
}