.App {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    color: black;
}

.info-text-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #918d8d;
    position: absolute;
    bottom: 0;
    right: 0;
}

.info-text {
    font-size: 0.5vw !important;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 100;
    margin: 0;
    padding-right: 1vw;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

